* {
    font-family: sans-serif;
    line-height: 1.8;
}

img {
    height: auto;
    width: 500px;
    display: block;
    margin: 0 auto;
    padding: 10px;
    background-color: black;
}

button:hover {
    background-color:#548ca8
}

.index-navigation {
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: -20px;
}

.index-button {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    background-color: #d36f2c85;
}

.index-recipe {
    text-align: center;
    padding: 10px 20px;
}

.index-title,
.recipe-title {
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    background-color: #165a7c;
    color: white;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.index-img {
    width: 50%;
}

.recipe-img {
    width: 30%;
}

.index-peposa,
.index-bakedziti,
.index-bibimbap {
    padding: 10px;
    margin-bottom: 20px;
    background-color: #548ca8;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.recipe {
    padding: 20px;
}

.description,
.ingredients,
.steps,
.tips {
    padding: 10px 20px;
    background-color: #548ca8;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.content {
    padding: 20px 40px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: #d36f2c85;
}